@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  color: rgba(100, 100, 100, 1);
  box-sizing: border-box;
}
:root{
  font-size: 10px;
}
@keyframes moving {
  0%{
    transform: translateX(0);
  }
  35%{
    transform: translateX(-50%);
  }
  65%{
  transform: translateX(50%);
  }
  100%{
    transform: translateX(0);
  }
}
header,section{
  padding: 0 7.5%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
section{
  padding: 7.5%;
}
.topBlue{
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
  height: 25px;
  width: 100%;
  position: relative;
}
.topBlue_whiteLine{
  background-color: #fff;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 5px;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background-image: url(./img/background.png);
}
.navLinks ul{
  display: flex;
  gap: 25px;
}
.navLinks a{
  font-size: 2rem;
  position: relative;
  cursor: pointer;
}
.navLinks a::before{
  content: "";
  position: absolute;
  bottom: -2.5px;
  height: 2.5px;
  border-radius: 10px;
  width: 0;
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
}
.navLinks a:hover::before{
  width: 100%;
}
.hireBtn{
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}
.hireBtn a{
  color: #fff;
  font-size: 2rem;
}
#menuBtn{
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: transparent;
  outline: none;
  animation: scaling 3s infinite;
  display: none;
  font-size: 35px;
  font-weight: 600;
  color: black;
}
@keyframes scaling {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.3);
  }
  
}
.hero{
display: grid;
grid-template-columns: 60% 40%;
height: 75vh;
background-image: url(./img/background.png);
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}
.hero .heroText{
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
.greet{
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}
.myName{
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
  font-size: 5rem;
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}
.transparentText{
  font-family: sans-serif;
  font-size: 5rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  color: rgba(50, 45, 175, 1);
}
.typewriter {
  position: relative;
  font-size: 3.3rem;
  height: 35px;
  margin-bottom: 10px;
}
.typewriter::before {
  content: "";
  height: 35px;
  width: 5px;
  position: absolute;
  top: 50%;
  right: -10px;
}
.heroBtn{
  display: flex;
  gap: 25px;
  margin: 10px 0 0 0;
}
.heroBtn a{
  color: rgba(50, 45, 175, 1);
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 600;
}
.downloadCV{
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.downloadCV a{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.mySocials ul li{
  display: flex;
  gap: 25px;
}
.mySocials ul li a i{
  color: rgba(50, 45, 175, 1);
  font-size: 3.3rem;
  border-radius: 50px;
  padding: 10px;
}
.mySocials ul li a i:hover{
  color: #fff;
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
}
.heroImage{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroImage img{
  position: absolute;
}
.gif , .myImage{
  z-index: 1;
  width: 100%;
  height: 500px;
}
.myImageBackground{
  z-index: -1;
}
.myImage{
  height: 350px;
  width: 250px;
  border-radius: 50%;
}
.clouds{
  background-image: url(./img/cloud.png);
  width: 100%;
  height: 50px;
  margin-top: -50px;
  }
@media screen and (max-width:1200px){
  .hero{
  display: flex;
  flex-direction: column;
  gap: 250px;
  height: 135vh;
  padding-bottom: 50px;
  }
  .navLinks{
    padding: auto;
    display: flex;
    z-index: 10;
    background-color: rgba(50, 45, 175, 1);
    position: absolute;
    top: 150px;
    width: 75%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #menuBtn{
    display: block;
    cursor: pointer;
  }
  .navLinks ul{
    flex-direction: column;
  }
  .navLinks ul li a{
    color: #fff;
    font-size: 50px;
  }
  .menu_active{
    display: flex;
  }
  header{
    background-image: url(./img/headerBackground.png);
  }
}


/* about section */
.me{
display: flex;
height: 100vh;
width: 100%;
justify-content: space-between;
}
.me img{
  width: 40%;
  height: 100%;
}
.about{
  display: grid;
  grid-template-columns: 35% 50%;
  padding-bottom: 150px;
  height: auto;
  justify-content: space-between;
  z-index: 1;
}
.aboutLeft{
  display: flex;
  flex-direction: column;
}
.aboutme{
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.why{
  font-size: 5rem;
  z-index: 1;
}
.colorOrange{
  color: rgba(254, 109, 52, 1);
  font-size: 5rem;
  z-index: 1;
}
.colorBlue{
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
  font-size: 5rem;
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 1;
}
.aboutDescription{
  font-family: "Jost", sans-serif;
  color: rgba(130, 130, 130, 1);
  margin-top: 20px;
  font-size: 1.5rem;
  z-index: 1;
  text-align: justify;
}
.aboutBtn{
  margin-top: 20px;
  width: 100px;
  z-index: 1;
  cursor: pointer;
}
.aboutRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.myWork{
 display: flex;
 height: 200px;
 width: 100%;
 background-color: rgba(245, 245, 245, 1);
 box-shadow: 5px 5px 5px  rgba(130, 130, 130, 1);
 border-radius: 25px;
 padding: 10px;
 z-index: 1;
}
.myWork:hover{
  transform: rotate(-3deg);
  transition: all linear 0.4s;
}
.myWork img{
  height: 100%;
  width: 100px;
}
.myWorkInfo{
  padding: 10px;
}
.myWorkInfo h1{
  font-size: 2.5rem;
}
.myWorkInfo p{
  font-family: "Jost", sans-serif;
  color:rgba(96, 99, 103, 1);
  font-size: 2rem;
  margin-top: 10px;
}
.myWorkLink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.myWorkLink a i{
  color: rgba(50, 45, 175, 1);
  font-size: 1.5rem;
}
.myWorkLink div{
  display: flex;
  border-radius: 50%;
  border: 2.5px solid rgba(50, 45, 175, 1);
  background-color: transparent;
  padding: 10px;
}
.myWorkLink p{
  color: black;
}
.myWorkLink div:hover{
  background-color: rgba(254, 109, 52, 1);
  border: rgba(254, 109, 52, 1);
}
.myWorkLink a i:hover{
color: #fff;
}
.aboutBottomDesign{
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  margin-top: -400px;
  z-index: -1;
}

@media screen and (max-width:1200px) {
  .me{
    flex-direction: column;
    gap: 50px;
    height: auto;
  }
  .me img{
    width: 100%;
    z-index: 5;
  }
  .about{
    display: flex;
    flex-direction: column;
    gap: 100px;

  }
  .aboutBottomDesign{
    display: none;
  }
}

/* portfolio section */
.portfolio{
  display: flex;
  justify-content: space-around;
  background-image:url(./img/background.png);
  height: auto;
}
.portfolioLeft{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.portfolioText{
  margin-bottom: 25px;
}
.portfolioTextInfo{
  font-size: 5rem;
}

.portfolioTitle{
  font-size: 2rem;
}
.portfolioWork{
  height: 500px;
  width: 100%;
}
.portfolioImage{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}
.portfolioImage img{
  width: 100%;
  height: 100%;
}
.overlay p{
  font-size: 3.5rem;
  color: #fff;
}
.overlay p i{
  font-size: 2rem;
  color: #fff;
  padding-left: 10px;
}
.overlay p a{
  font-size: 2rem;
  color: #fff;
  position: relative;
  font-weight: 500;
}
.overlay p a::before{
  content: "";
  position: absolute;
  bottom: -2.5px;
  width: 100%;
  background-color: #fff;
  height: 1.5px;
  transition: all ease 0.5s;
}
.overlay p a:hover::before{
  height: 3.5px;
  animation: underline 0.5s linear;
}
@keyframes underline {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
.overlay{
  display: flex;
  z-index: 1;
  flex-direction: column;
  background-color: rgba(50, 45, 175, 1);
  justify-content: center;
  padding:25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  opacity: 0;
}
.portfolioWork:hover .overlay{
  display: flex;
  opacity: 0.75;
}
.allProjectsLink{
  display: flex;
  justify-content: center;
  align-items: center;
}
.allProjectsLink p a{
  font-size: 3rem;
  text-decoration: underline;
}
.portfolioRight{
  display: flex;
  flex-direction: column;
}
.allProjectsLink p a i{
color: rgba(254, 109, 52, 1);
font-size: 3rem;
padding-left: 25px;
}

@media screen  and (max-width:1200px){
  .portfolioRight{
    display: none;
  }
  .portfolioLeft{
    gap: 10px;
    justify-content: center;
  }
}

/* stats and testimonials section */
.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  background-image: url('./img/statsBackground.png');
  height: 100px;
}
.stat{
  position: relative;
  bottom: -110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
}
.stat div p{
  font-size: 2rem;
}
.upperStatBox{
  background-color: rgba(225, 225, 250, 1);
  width: 100%;
  height: 50%;
  border-top-left-radius: 25px;
}
.lowerStatBox{
  text-align: center;
  border-bottom-right-radius: 25px;
  background-color: rgba(245, 245, 245, 1);
  width: 100%;
  height: 50%;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 1);
}
.stat div{
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.testimonials{
  margin-top: 100px;
}
.testimonialHeading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonialTitle{
  font-size: 2rem;
  color: rgba(50, 45, 175, 1);
}
.testimonialHeading{
  display: flex;
  flex-direction: column;
}
.testimonialText{
  font-size: 5rem;
  margin-bottom: 25px;
}
.clientTestimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.clientTestimonial{
  display: flex;
  width: 400px;
  box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(100, 100, 100, 1);
  border-radius: 10px;
}
.clientImage{
  padding: 25px;
  position: relative;
  margin-left: -50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.clientTestimonialComment{
  display: flex;
  flex-direction: column;
}
.quote i{
  font-size: 5rem;
  color: rgba(254, 109, 52, 1);;
}
.comment , .client{
  padding: 10px;
}
.comment{
  font-size: 1.5rem;
  text-align: justify;
}
.clientName{
  font-size: 2rem;
  color: rgba(50, 45, 175, 1);
}
.clientPost{
  font-size: 1.5rem;
}

@media screen and (max-width:1200px) {
  :root{
    font-size: 7.5px;
  }
  .stat{
    bottom: -50px;
    width: 85px;
  }
  .stat div p{
    font-size: 1.5rem;
  }
  .testimonials .colorBlue{
    font-size: 3.3rem;
  }
  .testimonials .colorOrange{
    font-size: 3.3rem;
  }
  .testimonialText{
    font-size: 3.3rem;
  }
  .comment{
    font-size: 1.2rem;
  }
  .clientTestimonial{
    width: 300px;
  }
}


/* all clients */
.allClients{
  display: flex;
  flex-direction: column;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.clientHeading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allClientsTitle{
  font-size: 2rem;
  color: rgba(50, 45, 175, 1);
}
.allClientsText{
  font-size: 5rem;
  margin-bottom: 25px;
}
.allClientsBannerContainer{
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.allClientsBanner{
  white-space: nowrap;
  display: flex;
  gap: 25px;
  animation: moving 10s linear infinite;
  padding: 10px;
}
.allClientsBanner img{
  height:120px;
  width: 150px;
  box-shadow: 5px 5px 5px rgba(130, 130, 130, 1);
  border-bottom-right-radius: 25px;
}
.allClientsBanner:hover{
  animation-play-state: paused;
}
@media screen and (max-width:1200px) {
  :root{
    font-size: 7.5px;
  }
  .allClients .colorOrange{
    font-size: 3.3rem;
  }
  .allClientsText{
    font-size: 3.3rem;
  }
}


/* contact  section*/
.form-wrap{
  width:100%;
  padding:35px 25px 35px 25px;
  background-color: rgba(245, 245, 245, 1);
  border-bottom:5px solid rgba(50, 45, 175, 1);
}
.form-title{
  text-align: center;
  font-size: 2rem;
  color: rgba(50, 45, 175, 1);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
  font-weight: 500;
  border: none;
  outline:none;
  background: none;
  font-size: 2rem;
  padding: 20px 10px 20px 10px;
  width:100%
}
.form-fields textarea{
  height: 150px;
  resize: none;
}
.form-group{
  width: 45%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbcbcb, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
  width: 92%;
}
.submit-button{
  width: 35%;
  height: 75px;
  border-radius: 30px;
  font-size: 2rem;;
  font-weight: 600;
  outline: none;
  border:none;
  cursor: pointer;
  color:white;
  text-align: center;
  background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
  box-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #fff;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  .form-wrap{
    width: 100%;
    height: inherit;
    float: none;  
  }
  .form-group{
    width: 100%;
    margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
    width: 100%;
  }
}

/* footer section */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 0;
  }
  footer ul li{
    display: flex;
    gap: 10px;
  }
  footer ul li a i{
    font-size: 3.3rem;
    color: rgba(50, 45, 175, 1);
    border-radius: 50px;
    padding: 10px;
  }
  footer ul li a i:hover{
    color: #fff;
    background: linear-gradient(145deg, rgba(120,35,150,1) 0%, rgba(50,35,150,1) 50%);
    }
  .copyright{
    font-size: 1.5rem;
  }